* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #666;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black !important;
}

a:visited {
  text-decoration: none;
  color: black !important;
}

a:active {
  text-decoration: none;
  color: black !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #666;
}

body #header {
  width: 100%;
  height: 60px;
  border: 1px solid #bbb;
  background: linear-gradient(white, #c6c1c1, white);
}

body #header .brand-logo {
  padding-left: 60px;
  margin-top: -8px;
  font-family: "Brush Script MT", cursive;
  text-shadow: 0 2px 5px #888;
}

body #header .brand-logo span {
  font-family: 'Verdana';
  font-weight: bold;
  color: #666;
}

body #header .collapseIcon {
  font-size: 38px;
  margin-top: -1px;
}

body #header ul li {
  line-height: 60px;
}

body #header ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  font-size: 18px;
  color: #666;
}

body #header ul .divider {
  height: 40px;
  margin: 4px 20px;
  border-right: 1px solid #bbb;
}

body header {
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 650px;
  margin-bottom: 50px;
}

body header .headerLogo {
  margin: initial;
  padding: initial;
  width: 350px;
  position: relative;
  top: 20%;
  left: 5%;
  text-align: center;
  transition: .5s;
}

@media only screen and (max-width: 1100px) {
  body header .headerLogo {
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
  }
}

body header .headerLogo .firstLine {
  opacity: 0;
  font-size: 5;
  line-height: 5;
}

body header .headerLogo span {
  display: block;
  text-indent: 0;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: 'Kartika';
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 5px;
  color: #666;
  text-shadow: 0 2px 5px #888;
}

body header .headerLogo .lineOne {
  font-size: 32px;
  letter-spacing: 9px;
  line-height: 12px;
}

body header .headerLogo .lineTwo {
  position: relative;
  z-index: 2;
  font-size: 34px;
  letter-spacing: 13px;
  font-stretch: expanded;
}

body header .headerLogo .lineThree {
  font-size: 48px;
  letter-spacing: 1px;
  color: white;
}

body #about .container h2, body #orderProcess .container h2, body #plans .container h2, body #features .container h2 {
  width: 170px;
  text-align: center;
  margin: 40px auto;
  padding-bottom: 6px;
  border-bottom: 1px solid #bbb;
  color: #666;
  font-size: 35px;
}

body #about .container h3, body #orderProcess .container h3, body #plans .container h3, body #features .container h3 {
  text-align: center;
  margin: 40px auto;
  padding-bottom: 6px;
  color: #666;
  font-size: 30px;
}

body #about .container p, body #orderProcess .container p, body #plans .container p, body #features .container p {
  margin: auto;
  text-indent: 40px;
  line-height: 1.5;
  font-family: 'Verdana';
  font-size: 18px;
  color: #666;
}

body #about .container button, body #orderProcess .container button, body #plans .container button, body #features .container button {
  width: 220px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #29afcc;
  border-radius: 15px;
  background: linear-gradient(#47cdea, #007390);
  color: #666;
  font-size: 18px;
  display: block;
  margin: auto;
  margin-top: 60px;
}

body #about .container button a, body #orderProcess .container button a, body #plans .container button a, body #features .container button a {
  width: 100%;
  height: 100%;
  display: block;
}

body #about .container h2 {
  width: 260px;
}

body #about .container .chevron img {
  display: block;
  width: 80px;
  margin: 60px auto;
  opacity: .6;
}

body #about .container .row {
  margin-bottom: 60px;
  padding-bottom: 70px;
  border-bottom: 1px solid #bbb;
}

body #about .container .row .col img {
  display: block;
  width: 320px;
  margin: auto;
  margin-bottom: 40px;
  border-radius: 50%;
  box-shadow: -6px 8px 40px #fff, -20px 8px 30px #29afcc;
}

@media only screen and (max-width: 1100px) {
  body #about .container .row .col img {
    width: 280px;
  }
}

body .chevron img {
  display: block;
  width: 80px;
  margin: 160px auto;
  opacity: .6;
}

body #orderProcess {
  height: 1200px;
  overflow-x: hidden;
}

body #orderProcess .container {
  width: 100%;
  max-width: initial;
}

body #orderProcess .container h2 {
  width: 260px;
}

body #orderProcess .container .processGrafics {
  position: relative;
  height: 100%;
}

body #orderProcess .container .processGrafics .circle {
  margin: auto;
  border-radius: 50%;
  background: linear-gradient(to right, #47cdea, #007390);
}

body #orderProcess .container .processGrafics .circle01 {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
}

body #orderProcess .container .processGrafics .circle02 {
  width: 647.212px;
  height: 647.212px;
  position: absolute;
  top: 176.394px;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 323.606px;
}

body #orderProcess .container .processGrafics .circle02::after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -50%;
  transform: translateX(-50%);
  content: '';
  border-radius: 50%;
  background: linear-gradient(to right, #47cdea, #007390);
}

body #orderProcess .container .processGrafics .circle03 {
  width: 1047.20843px;
  height: 1047.20843px;
  position: absolute;
  top: -23.60422px;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 847.21022px;
}

body #orderProcess .container .processGrafics .circle03::after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -1694.42043px;
  content: '';
  border-radius: 50%;
  background: linear-gradient(to right, #47cdea, #007390);
}

body #orderProcess .container .processGrafics .centerLine {
  position: absolute;
  height: 1047.20843px;
  right: 50%;
  border-right: 2px solid #f7f7f7;
}

@media only screen and (max-width: 1100px) {
  body #orderProcess .container .processGrafics .centerLine {
    right: 90%;
  }
}

body #orderProcess .container .processGrafics .centerLine .pointingCircle, body #orderProcess .container .processGrafics .centerLine .pointingCircle::before, body #orderProcess .container .processGrafics .centerLine .pointingCircle::after {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: red;
  border-radius: 50%;
  box-shadow: inset 0 0 15px #6b6b6b;
  background: white;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 500px;
  transform: translate(-50%, -50%);
}

body #orderProcess .container .processGrafics .centerLine .pointingCircle::before {
  content: '1';
  left: 20px;
  top: -110px;
}

body #orderProcess .container .processGrafics .centerLine .pointingCircle::after {
  content: '3';
  left: 20px;
  top: 145px;
}

body #orderProcess .container .processGrafics .centerLine .pointingLine, body #orderProcess .container .processGrafics .centerLine .pointingLine::before, body #orderProcess .container .processGrafics .centerLine .pointingLine::after {
  width: 80px;
  height: 2px;
  background: white;
  position: absolute;
  left: 30px;
  top: 499px;
}

@media only screen and (max-width: 1100px) {
  body #orderProcess .container .processGrafics .centerLine .pointingLine {
    display: none;
  }
}

body #orderProcess .container .processGrafics .centerLine .pointingLine::before {
  content: '';
  top: -130px;
  left: -145px;
}

body #orderProcess .container .processGrafics .centerLine .pointingLine::after {
  content: '';
  top: 125px;
  left: -145px;
}

body #orderProcess .container .processGrafics .centerLine .infoBox1, body #orderProcess .container .processGrafics .centerLine .infoBox2, body #orderProcess .container .processGrafics .centerLine .infoBox3 {
  width: 400px;
  background: white;
  border-radius: 10px;
  padding: 15px 10px;
  box-shadow: inset 0 0 30px #6b6b6b;
}

@media only screen and (max-width: 1100px) {
  body #orderProcess .container .processGrafics .centerLine .infoBox1, body #orderProcess .container .processGrafics .centerLine .infoBox2, body #orderProcess .container .processGrafics .centerLine .infoBox3 {
    padding: 8px;
    width: 320px;
  }
}

body #orderProcess .container .processGrafics .centerLine .infoContainer {
  position: absolute;
}

body #orderProcess .container .processGrafics .centerLine .infoContainer1 {
  top: 445px;
  left: 140px;
}

@media only screen and (max-width: 1100px) {
  body #orderProcess .container .processGrafics .centerLine .infoContainer1 {
    left: 15px;
  }
}

body #orderProcess .container .processGrafics .centerLine .infoContainer2 {
  top: 315px;
  left: -560px;
}

@media only screen and (max-width: 1100px) {
  body #orderProcess .container .processGrafics .centerLine .infoContainer2 {
    left: 15px;
  }
}

body #orderProcess .container .processGrafics .centerLine .infoContainer3 {
  top: 575px;
  left: -560px;
}

@media only screen and (max-width: 1100px) {
  body #orderProcess .container .processGrafics .centerLine .infoContainer3 {
    left: 15px;
  }
}

body #orderProcess .container .processGrafics .centerLine .infoBox h5 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1100px) {
  body #orderProcess .container .processGrafics .centerLine .infoBox h5 {
    font-size: 16px;
    margin: 4px;
  }
}

body #orderProcess .container .processGrafics .centerLine .infoBox p {
  margin: 0;
  font-size: 16px;
}

@media only screen and (max-width: 1100px) {
  body #orderProcess .container .processGrafics .centerLine .infoBox p {
    text-indent: 0;
    font-size: 12px;
    line-height: 1.2;
  }
}

body #plans {
  margin-bottom: 160px;
  overflow-x: hidden;
}

body #plans .container {
  position: relative;
  width: 100%;
  max-width: initial;
}

body #plans .container h2 {
  width: 120px;
  margin-bottom: 120px;
}

body #plans .container .row {
  margin: 0;
}

body #plans .container .row .col {
  padding: 0;
}

body #plans .container .row .col .card1, body #plans .container .row .col .card1::after, body #plans .container .row .col .card2, body #plans .container .row .col .card2::after, body #plans .container .row .col .card2::before, body #plans .container .row .col .card3, body #plans .container .row .col .card3::before {
  width: 340px;
  height: 520px;
  border-radius: 10px;
  margin: auto;
}

body #plans .container .row .col .card1 {
  background: #7c0404;
  background: linear-gradient(#a42c2c, #540000);
}

body #plans .container .row .col .card1::after {
  position: absolute;
  z-index: -1;
  content: '';
  transform: rotate(-10deg);
  background: #f47c7c;
  background: linear-gradient(#f47c7c, #7c0404);
  opacity: .3;
}

body #plans .container .row .col .card2 {
  background: #29afcc;
  background: linear-gradient(#51d7f4, #005572);
}

body #plans .container .row .col .card2::after {
  position: absolute;
  z-index: -1;
  content: '';
  transform: rotate(-10deg);
  background: #a1ffff;
  background: linear-gradient(#a1ffff, #29afcc);
  opacity: .4;
}

body #plans .container .row .col .card2::before {
  position: absolute;
  z-index: -1;
  content: '';
  transform: rotate(10deg);
  background: #a1ffff;
  background: linear-gradient(#a1ffff, #29afcc);
  opacity: .4;
}

body #plans .container .row .col .card3 {
  background: #047c3c;
  background: linear-gradient(#2ca464, #002200);
}

body #plans .container .row .col .card3::before {
  position: absolute;
  z-index: -1;
  content: '';
  transform: rotate(10deg);
  background: #7cf4b4;
  background: linear-gradient(#7cf4b4, #047c3c);
  opacity: .4;
}

body #plans .container .row .col .card {
  box-shadow: 0 2px 5px #888;
  position: relative;
  padding: 0;
  margin: 30px auto;
}

body #plans .container .row .col .card .title {
  position: absolute;
  width: 100%;
  margin-top: -40px;
}

body #plans .container .row .col .card .title h3 {
  border-radius: 10px 10px 0 0;
  background: white;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  color: #666;
}

body #plans .container .row .col .card .price {
  margin-left: 45px;
  margin-bottom: 20px;
}

body #plans .container .row .col .card .price h5 {
  color: white;
}

body #plans .container .row .col .card .planContent {
  position: absolute;
  top: 100px;
  padding-left: 40px;
  width: 100%;
}

body #plans .container .row .col .card .planContent ul .option {
  list-style-type: disc;
  font-size: 18px;
  color: white;
  margin-bottom: 15px;
}

body #plans .container .row .col .card button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
}

body #features .container h2 {
  margin-bottom: 120px;
}

body #features .container .flex {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1100px) {
  body #features .container .flex {
    display: block;
  }
}

body #features .container .flex .col .feature {
  width: 90%;
  height: 100%;
  margin: 20px auto;
  padding: 10px;
  padding-top: 15px;
  border: 1px solid #bbb;
  border-radius: 30px;
  box-shadow: inset 0 0 20px #bbb;
}

body #features .container .flex .col .feature h5 {
  margin-top: 0;
  border-bottom: 1px solid #bbb;
  text-transform: uppercase;
}

body #features .container .flex .col .feature p {
  font-size: 16px;
  text-indent: 30px;
}

body #contact .container {
  margin-top: 60px;
  padding-top: 40px;
  border-top: 1px solid #bbb;
}

body #contact .container .faq ul li {
  padding: 20px;
}

body #contact .container .faq ul li.q {
  background: #eee;
  font-weight: bold;
  font-size: 1.2em;
  border-bottom: 1px solid #bbb;
  cursor: pointer;
}

body #contact .container .faq ul li.q img {
  position: relative;
  top: 2px;
  margin-right: 15px;
}

body #contact .container .faq ul li.a {
  background: #ddd;
  display: none;
}

body #contact .container .row {
  margin-top: 40px;
}

body #contact .container .row .col .fas, body #contact .container .row .col .far {
  display: block;
  font-size: 50px;
  color: #29afcc;
  text-shadow: 0 2px 5px #888;
  transition: .5s;
}

body #contact .container .row .col .fas:hover, body #contact .container .row .col .far:hover {
  transform: scale(1.4);
}

@media only screen and (max-width: 1100px) {
  body #contact .container .row .col .fas, body #contact .container .row .col .far {
    font-size: 20px;
    color: #7c0404;
  }
}

body #contact .container .row .col h3 {
  font-size: 30px;
  font-style: italic;
}

@media only screen and (max-width: 1100px) {
  body #contact .container .row .col h3 {
    font-size: 18px;
  }
}

.rotate {
  transform: rotate(90deg);
}

body footer {
  background-image: url(../img/footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 450px;
  margin-top: 50px;
  position: relative;
}

body footer #footerNav {
  height: 50px;
  width: 100%;
  text-align: center;
  line-height: 50px;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

body footer #footerNav ul {
  text-align: center;
}

body footer #footerNav ul li {
  display: inline-block;
  margin: 0 5px;
}

body footer #footerNav ul li a {
  font-size: 20px;
}

body .backToTop {
  position: fixed;
  bottom: 15px;
  right: 15px;
  animation: jump 8s infinite;
}

body .backToTop a .fas {
  color: #5be1fe;
  font-size: 70px;
  text-shadow: 0 2px 5px #888;
}

.clearFloat {
  clear: both;
}

@keyframes jump {
  0% {
    bottom: 15px;
  }
  60% {
    bottom: 15px;
  }
  62% {
    bottom: 55px;
  }
  70% {
    bottom: 15px;
  }
  72% {
    bottom: 35px;
  }
  80% {
    bottom: 15px;
  }
  82% {
    bottom: 20px;
  }
  100% {
    bottom: 15px;
  }
}
