*
{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html
{
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
body
{
  margin: 0 !important;
  padding: 0 !important;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
  line-height: 1.5;
  // short
  font: 15px/1.5 Arial, Helvetica, sans-serif;
}
