// responsive max width
@mixin bp-max-width {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

$orange: #e8491d;
$grey: #2B363B;

body
{
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
  line-height: 1.5;
  // short
  font: 15px/1.5 Arial, Helvetica, sans-serif;
}

//  Global
.container
{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
ul
{
  margin: 0;
  padding: 0;
}
.button_1
{
  display: block;
  width: 100%;
  height: 38px;
  background: $orange;
  border: none;
  padding: 0 20px;
  color: white;
}
.dark
{
  padding: 15px;
  background: $grey;
  color: white;
  margin: 10px 0;
}

//  header

header
{
  background: $grey;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: 3px solid $orange;
  padding-bottom: 20px;
  a
  {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
  }
  li
  {
    float: none;
    text-align: center;
    width: 100%;
    display: inline;
    padding: 0 10px;
  }
}
header
{
  .logo
  {
    float: none;
    text-align: center;
    width: 100%;
    h1
    {
      margin: 0;
    }
  }
  nav
  {
    float: none;
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }
  .highlight, .current a
  {
    color: $orange;
    font-weight: bold;
  }
  a:hover
  {
    color: #cccccc;
    font-weight: bold;
  }
}

//  showcase
#showcase
{
  position: relative;
  z-index: -1;
  opacity: 0.7;
  min-height: 400px;
  background: url('../img/showcase.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black;
  h1
  {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 35px;
  }
  p
  {
    font-size: 16px;
  }
}

//  newsletter
#newsletter
{
  padding: 15px;
  color: white;
  background: $grey;
  h1
  {
    float: none;
    text-align: center;
    width: 100%;
  }
  form
  {
    float: none;
    text-align: center;
    width: 100%;
    margin-top: 15px;
  }
  input[type="email"]
  {
    padding: 4px;
    height: 25px;
    width: 100%;
    margin-bottom: 5px;
  }
}

//  boxes
#boxes
{
  margin-top: 20px;
  .box
  {
    float: none;
    text-align: center;
    width: 100%;
    padding: 10px;
    text-align: center;
    img
    {
      width: 90px;
    }
  }
}

//  sidebar
aside#sidebar
{
  float: none;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  .question input, textarea
  {
    width: 90%;
    padding: 5px;
  }
}
article#main-col
{
  float: none;
  text-align: center;
  width: 100%;
  .fa
  {
    font-size: 25px;
    margin-bottom: 15px;
    a
    {
      color: black;
      text-decoration: none;
      font-family: sans-serif;
      font-size: 18px;
      margin-left: 10px;
      &:hover
      {
        color: $orange;
        font-weight: bold;
      }
    }
  }
}

//  contact
ul.contact li
{
  list-style: none;
  padding: 15px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  background: #e6e6e6;
  &:hover
  {
    background: #f7f7f7;
  }
}

footer
{
  margin-top: 160px;
  padding: 10px;
  color: white;
  background: $orange;
  text-align: center;
}
